{
  "presets": [
      ["@babel/preset-env", {
        "debug": true,
        "targets": {
          "browsers": [
              ">0.5%",
              "not dead",
              "not op_mini all"
          ]
        }
      }]
  ]
}
