*
!examples/
!dist/
!index.html
!node_modules/
node_modules/*
!node_modules/video.js/
node_modules/video.js/*
!node_modules/video.js/dist/
node_modules/video.js/dist/*
!node_modules/video.js/dist/video-js.min.css
!node_modules/video.js/dist/video.min.js
!node_modules/videojs-contrib-ads/
node_modules/videojs-contrib-ads/*
!node_modules/videojs-contrib-ads/dist/
node_modules/videojs-contrib-ads/dist/*
!node_modules/videojs-contrib-ads/dist/videojs.ads.min.js
!node_modules/videojs-contrib-ads/dist/videojs.ads.css
